In [ ]:
%pip install pandas # for tables
%pip install faker # synthetic data
%pip install faker_commerce # synthetic data for commerce
%pip install matplotlib # for plotting
%pip install openpyxl # Excel

In [6]:
from faker import Faker
import random # random numbers
import pandas as pd
import faker_commerce

In [8]:
fake = Faker("de_DE")
fake.add_provider(faker_commerce.Provider)

# fake Users

rows = []
n_users = 10000

for _ in range(n_users): # repeat something n_users-times without running index variable 
    first_name = fake.first_name()
    last_name = fake.last_name()
    user_id = fake.unique.uuid4()
    user = {
        "id": user_id,
        "name": first_name + " " + last_name 
    }
    rows.append(user)

df = pd.DataFrame(rows)
df

                                        id                 name
0     bd7b2e64-7912-4e69-a107-f4f03fc2e2b3         Ira Rosemann
1     a60da218-4fa8-4212-b31a-afa00a1e3b63       Dunja Barkholz
2     bdef1c10-f957-48c6-bedc-d5b1474c93d5       Abbas Trommler
3     4c6dca21-9205-4f7e-8fa8-f17b15fe7a30  Heinz-Werner Ritter
4     6619853a-ef83-4ad1-ba94-05146c61a5bc    Hans-Walter Kranz
...                                    ...                  ...
9995  50c8f370-6dfb-49ed-bd90-81f7d3982770       Erol Bohlander
9996  f9da5b2a-8d45-4380-8d73-dbb43e39b30e       Till Striebitz
9997  ade22dca-e1f5-44d8-9e8b-378a62d081ce      Türkan Oderwald
9998  f6074aba-68b6-4c0f-9392-0758baa127c9         Canan Killer
9999  773b3039-f350-47cc-9e66-9218b11c084c   Constantin Fechner

[10000 rows x 2 columns]

In [10]:
rows = []
n_products = 500

for _ in range(n_products):
    product = {
        "id": fake.unique.uuid4(),
        "name": fake.ecommerce_name(),
        "price": float(random.randint(10, 1000)) + 0.99, 
        "stock": random.randint(0,40)
    }
    rows.append(product)
df_product = pd.DataFrame(rows)
df_product

,id,name,price,stock
0,08720513-774f-4b7e-a136-e35820bc2667,Shoes,123.99,35
1,337d619a-341e-4631-8794-e1cbb35c1994,Gorgeous Metal Soap,546.99,29
2,5ae78760-c3e6-4be4-983d-ef7ae8d193a1,Handcrafted Shirt,706.99,2
3,d195df04-493e-4081-b934-a90eb3c72efc,Fantastic Cotton Soap,689.99,8
4,4fbe5455-5981-46a2-b434-135e6efc82b3,Ball,534.99,9
...,...,...,...,...
495,8bacb9cf-fe42-4e60-9e46-aaac209b7d35,Ergonomic Wooden Car,505.99,13
496,05b3a289-f7be-4772-afa8-51da098eb454,Handcrafted Tuna,217.99,32
497,704ecf60-85be-4f27-a593-877317af71a4,Ergonomic Towels,107.99,22
498,d4ab1a3b-cf37-4137-bcc6-ee6ea1ed0938,Cheese,883.99,7
499,9c891ccb-bd74-41ff-9e3c-384cd2846c42,Fresh Shirt,858.99,24

In [13]:
df_product.info()

<class 'pandas.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      500 non-null    str
 1   name    500 non-null    str
 2   price   500 non-null    float64
 3   stock   500 non-null    int64
dtypes: float64(1), int64(1), str(2)
memory usage: 15.8 KB

In [ ]:
df_product.head(10) # first 10

,id,name,price,stock
0,08720513-774f-4b7e-a136-e35820bc2667,Shoes,123.99,35
1,337d619a-341e-4631-8794-e1cbb35c1994,Gorgeous Metal Soap,546.99,29
2,5ae78760-c3e6-4be4-983d-ef7ae8d193a1,Handcrafted Shirt,706.99,2
3,d195df04-493e-4081-b934-a90eb3c72efc,Fantastic Cotton Soap,689.99,8
4,4fbe5455-5981-46a2-b434-135e6efc82b3,Ball,534.99,9
5,10399396-7569-4cec-a588-d219a44fb9d5,Shirt,801.99,2
6,88cd5fd1-ed10-476e-8f61-9113a80e4234,Computer,290.99,15
7,d405c3b2-6ed8-4d62-8721-0cfd96c7b17b,Plastic Tuna,288.99,6
8,897a0b7c-c798-477d-9c07-d0fc9e1237a2,Intelligent Granite Bike,477.99,21
9,5ff27626-7d68-4197-b1b8-c3e5525e1526,Metal Fish,727.99,16

In [ ]:
df_product.tail(10) # last 10

                                       id                  name   price  stock
490  1deb2d41-7b96-4223-ab6c-e27b9c3e743f          Concrete Car  724.99     20
491  d26517d3-6630-437b-82b3-6b7ca2cdc987           Tasty Salad   70.99      9
492  bc4d9332-4a31-4c81-862e-8cfdc5cc5ebb              Computer  905.99      7
493  52903a0a-4f6f-43e3-ab36-ef0bdb0ba0a8                   Hat  496.99     40
494  2a19d7be-e380-4d47-9e3e-bd5e5e3a9a56                  Tuna  464.99     16
495  8bacb9cf-fe42-4e60-9e46-aaac209b7d35  Ergonomic Wooden Car  505.99     13
496  05b3a289-f7be-4772-afa8-51da098eb454      Handcrafted Tuna  217.99     32
497  704ecf60-85be-4f27-a593-877317af71a4      Ergonomic Towels  107.99     22
498  d4ab1a3b-cf37-4137-bcc6-ee6ea1ed0938                Cheese  883.99      7
499  9c891ccb-bd74-41ff-9e3c-384cd2846c42           Fresh Shirt  858.99     24

In [ ]:
df_product["name"] # type is Series

0                      Shoes
1        Gorgeous Metal Soap
2          Handcrafted Shirt
3      Fantastic Cotton Soap
4                       Ball
               ...
495     Ergonomic Wooden Car
496         Handcrafted Tuna
497         Ergonomic Towels
498                   Cheese
499              Fresh Shirt
Name: name, Length: 500, dtype: str

In [ ]:
df_product[["id", "name", "stock"]] # subselection of columns -> returns a new dataframe

                                       id                   name  stock
0    08720513-774f-4b7e-a136-e35820bc2667                  Shoes     35
1    337d619a-341e-4631-8794-e1cbb35c1994    Gorgeous Metal Soap     29
2    5ae78760-c3e6-4be4-983d-ef7ae8d193a1      Handcrafted Shirt      2
3    d195df04-493e-4081-b934-a90eb3c72efc  Fantastic Cotton Soap      8
4    4fbe5455-5981-46a2-b434-135e6efc82b3                   Ball      9
..                                    ...                    ...    ...
495  8bacb9cf-fe42-4e60-9e46-aaac209b7d35   Ergonomic Wooden Car     13
496  05b3a289-f7be-4772-afa8-51da098eb454       Handcrafted Tuna     32
497  704ecf60-85be-4f27-a593-877317af71a4       Ergonomic Towels     22
498  d4ab1a3b-cf37-4137-bcc6-ee6ea1ed0938                 Cheese      7
499  9c891ccb-bd74-41ff-9e3c-384cd2846c42            Fresh Shirt     24

[500 rows x 3 columns]

In [19]:
df_product.price

0      123.99
1      546.99
2      706.99
3      689.99
4      534.99
        ...
495    505.99
496    217.99
497    107.99
498    883.99
499    858.99
Name: price, Length: 500, dtype: float64

## indexing and slicing

In [28]:
df_product.iloc[0] # first row, row selection 
df_product.iloc[1,0] # row - column selection -> single value
df_product.iloc[:,3] # column (stock quantity) selection
df_product.iloc[2:6,:] # 2 - 5 and all columns
df_product.iloc[:30,2:] # first 30 rows and all columns starting from price (2) to the right
df_product.iloc[:30,:2] # first 30 rows and all columns up to column name (second column)
df_product.iloc[100:120,1:3]

                          name   price
100                 Steel Ball  344.99
101  Practical Wooden Keyboard  919.99
102       Handmade Frozen Soap  165.99
103  Gently Used Concrete Soap  242.99
104               Wooden Table  910.99
105             Plastic Towels   18.99
106                 Fresh Tuna  696.99
107          Gently Used Bacon  154.99
108       Gently Used Sausages  869.99
109                      Chips  121.99
110               Small Cheese  719.99
111                     Cheese  173.99
112              Plastic Mouse  617.99
113         Generic Metal Fish  677.99
114              Granite Bacon  159.99
115                       Fish  287.99
116                 Metal Ball  750.99
117               Frozen Salad   96.99
118               Awesome Soap  321.99
119             Gorgeous Pants   80.99

In [32]:
df_product.loc[5,["name", "price"]] # for selection
df_product.at[5,"name"] # for single elements

'Shirt'

In [34]:
mask = df_product["price"]<100
df_product[mask]

,id,name,price,stock
16,bac5eef8-7ea1-4c25-842e-3086ece7dcbe,Pizza,57.99,1
26,4d24ad1b-7d64-4fb1-b0ec-477cf5ce40b9,Soft Hat,50.99,1
39,af02b2e7-9970-419d-a927-bfed4d6774c9,Handcrafted Pants,68.99,1
53,e6ca6334-1fb7-4632-b9e9-c83ffa751ed4,Fantastic Cotton Bacon,40.99,24
54,9f2e6ee4-cb21-420e-a548-ed175ff24f28,Awesome Fresh Mouse,82.99,40
69,1254ffac-fbe0-4d30-aac2-1fa0c7b1bf70,For repair Chair,82.99,23
70,5d7657f7-ea1a-4a8e-bb36-5e112f8425dd,Practical Bacon,63.99,23
72,836f7458-10b0-4441-95ef-a2d228ddbc24,Refined Metal Sausages,87.99,33
82,99b9c10b-1713-43ac-9a7d-d5c0e858f436,Soap,35.99,3
105,a754f5bc-b430-4de4-818d-c93ef8d2746f,Plastic Towels,18.99,21
117,ce56cef0-e400-4ebc-8abf-292adc8e33a9,Frozen Salad,96.99,27
119,59eb132a-3dfc-486b-953d-5075cc886859,Gorgeous Pants,80.99,22
124,60a2518f-f969-440d-b300-820fc8454a2c,Small Chips,85.99,22
127,2966a446-01fa-4f7c-bfb1-31b7face1a1c,Fantastic Wooden Mouse,75.99,39
146,ca8d5a25-005f-4535-b6b9-afcd821fee8e,Pants,61.99,31
147,c6be0221-8349-4556-8225-3cd01ad82892,Chicken,41.99,37
148,518c772d-1a2c-4402-aef9-47f86393e77a,Bacon,23.99,24
149,2c87fd37-5cff-4f81-b0af-ef8439ea6dd9,Wooden Towels,50.99,15
178,1771270a-e8cf-4e51-a579-156ff123a6a8,Steel Gloves,90.99,6
186,92c81522-76ff-4989-a8ef-7c9040f00f81,Licensed Soap,51.99,22
191,399299c9-84d4-4c88-b822-f0a86135c2b1,Chicken,87.99,13
206,b439bd15-7baa-489b-ab39-7b45b51fdf61,Rubber Towels,17.99,36
227,791aa5cb-b079-4d4d-bd37-7cd8059bb024,Licensed Bacon,44.99,17
232,2bb29674-8ac3-4d91-bc47-2544947928e0,Refined Wooden Towels,23.99,20
275,24f8d6cd-d590-4171-a516-5f32af5124d9,Handcrafted Towels,54.99,12
314,8fc36a2f-c070-4f25-88d3-936c02072713,Metal Chips,34.99,27
317,33944e8a-1525-4fe5-9559-960768b0c317,Shoes,49.99,26
321,d7fa205c-4031-4248-b6e4-fa446b6f3e87,Keyboard,88.99,11
324,cdcd563e-92ba-4b73-87cc-7dd3a698d0ff,Chair,72.99,2
375,a19f6c7d-eea5-4662-8089-83b143c2e4c4,Ergonomic Keyboard,25.99,39
382,d8df73d9-ff2f-4e70-9ecf-be66846e09c8,Fresh Chips,72.99,36
389,e8890afe-2912-4e87-981c-cb7bbe9404e6,Incredible Rubber Computer,66.99,21
391,0d15815e-8171-470d-88b2-7dbc06a4e43e,Plastic Computer,14.99,26
409,0efbcf5a-9380-49f9-a32f-a4e78152323c,Shoes,57.99,37
417,2148de8a-e7ac-4342-879c-fa8c71ab76d6,Rubber Keyboard,38.99,5
458,6b1eef1d-f45b-447b-8997-629ef6ab2778,Bike,92.99,19
470,bf43189e-0595-4b36-a98d-08b3912bc07a,Fantastic Shirt,86.99,38
491,d26517d3-6630-437b-82b3-6b7ca2cdc987,Tasty Salad,70.99,9

In [ ]:
mask1 = df_product["price"] < 100
mask2 = df_product["stock"]>=20 
df_product[mask1 & ~(mask2)] # vectorized and

# & ... and
# | ... or
# ~ ... not

                                       id                name  price  stock
16   bac5eef8-7ea1-4c25-842e-3086ece7dcbe               Pizza  57.99      1
26   4d24ad1b-7d64-4fb1-b0ec-477cf5ce40b9            Soft Hat  50.99      1
39   af02b2e7-9970-419d-a927-bfed4d6774c9   Handcrafted Pants  68.99      1
82   99b9c10b-1713-43ac-9a7d-d5c0e858f436                Soap  35.99      3
149  2c87fd37-5cff-4f81-b0af-ef8439ea6dd9       Wooden Towels  50.99     15
178  1771270a-e8cf-4e51-a579-156ff123a6a8        Steel Gloves  90.99      6
191  399299c9-84d4-4c88-b822-f0a86135c2b1             Chicken  87.99     13
227  791aa5cb-b079-4d4d-bd37-7cd8059bb024      Licensed Bacon  44.99     17
275  24f8d6cd-d590-4171-a516-5f32af5124d9  Handcrafted Towels  54.99     12
321  d7fa205c-4031-4248-b6e4-fa446b6f3e87            Keyboard  88.99     11
324  cdcd563e-92ba-4b73-87cc-7dd3a698d0ff               Chair  72.99      2
417  2148de8a-e7ac-4342-879c-fa8c71ab76d6     Rubber Keyboard  38.99      5
458  6b1eef1d-f45b-447b-8997-629ef6ab2778                Bike  92.99     19
491  d26517d3-6630-437b-82b3-6b7ca2cdc987         Tasty Salad  70.99      9

In [39]:
# same but SQL-like
# similar to a proper Python statement
df_product.query("price < 100 and stock >= 20")

,id,name,price,stock
53,e6ca6334-1fb7-4632-b9e9-c83ffa751ed4,Fantastic Cotton Bacon,40.99,24
54,9f2e6ee4-cb21-420e-a548-ed175ff24f28,Awesome Fresh Mouse,82.99,40
69,1254ffac-fbe0-4d30-aac2-1fa0c7b1bf70,For repair Chair,82.99,23
70,5d7657f7-ea1a-4a8e-bb36-5e112f8425dd,Practical Bacon,63.99,23
72,836f7458-10b0-4441-95ef-a2d228ddbc24,Refined Metal Sausages,87.99,33
105,a754f5bc-b430-4de4-818d-c93ef8d2746f,Plastic Towels,18.99,21
117,ce56cef0-e400-4ebc-8abf-292adc8e33a9,Frozen Salad,96.99,27
119,59eb132a-3dfc-486b-953d-5075cc886859,Gorgeous Pants,80.99,22
124,60a2518f-f969-440d-b300-820fc8454a2c,Small Chips,85.99,22
127,2966a446-01fa-4f7c-bfb1-31b7face1a1c,Fantastic Wooden Mouse,75.99,39
146,ca8d5a25-005f-4535-b6b9-afcd821fee8e,Pants,61.99,31
147,c6be0221-8349-4556-8225-3cd01ad82892,Chicken,41.99,37
148,518c772d-1a2c-4402-aef9-47f86393e77a,Bacon,23.99,24
186,92c81522-76ff-4989-a8ef-7c9040f00f81,Licensed Soap,51.99,22
206,b439bd15-7baa-489b-ab39-7b45b51fdf61,Rubber Towels,17.99,36
232,2bb29674-8ac3-4d91-bc47-2544947928e0,Refined Wooden Towels,23.99,20
314,8fc36a2f-c070-4f25-88d3-936c02072713,Metal Chips,34.99,27
317,33944e8a-1525-4fe5-9559-960768b0c317,Shoes,49.99,26
375,a19f6c7d-eea5-4662-8089-83b143c2e4c4,Ergonomic Keyboard,25.99,39
382,d8df73d9-ff2f-4e70-9ecf-be66846e09c8,Fresh Chips,72.99,36
389,e8890afe-2912-4e87-981c-cb7bbe9404e6,Incredible Rubber Computer,66.99,21
391,0d15815e-8171-470d-88b2-7dbc06a4e43e,Plastic Computer,14.99,26
409,0efbcf5a-9380-49f9-a32f-a4e78152323c,Shoes,57.99,37
470,bf43189e-0595-4b36-a98d-08b3912bc07a,Fantastic Shirt,86.99,38

In [43]:
df_product_m = df_product.copy() # in pandas this is deep copy 

# cat 1 -> costs more then 600
# cat 2 -> costs 300 - 600
# cat 3 -> costs 200 - 300
# cat 4 -> costs < 200

def price_category(price):
    if price>600:
        return 1
    elif price>300:
        return 2
    elif price > 200:
        return 3
    else:
        return 4

df_product_m["price_category"] = df_product_m["price"].apply(lambda p: price_category(p))
df_product_m

,id,name,price,stock,price_category
0,08720513-774f-4b7e-a136-e35820bc2667,Shoes,123.99,35,4
1,337d619a-341e-4631-8794-e1cbb35c1994,Gorgeous Metal Soap,546.99,29,2
2,5ae78760-c3e6-4be4-983d-ef7ae8d193a1,Handcrafted Shirt,706.99,2,1
3,d195df04-493e-4081-b934-a90eb3c72efc,Fantastic Cotton Soap,689.99,8,1
4,4fbe5455-5981-46a2-b434-135e6efc82b3,Ball,534.99,9,2
...,...,...,...,...,...
495,8bacb9cf-fe42-4e60-9e46-aaac209b7d35,Ergonomic Wooden Car,505.99,13,2
496,05b3a289-f7be-4772-afa8-51da098eb454,Handcrafted Tuna,217.99,32,3
497,704ecf60-85be-4f27-a593-877317af71a4,Ergonomic Towels,107.99,22,4
498,d4ab1a3b-cf37-4137-bcc6-ee6ea1ed0938,Cheese,883.99,7,1
499,9c891ccb-bd74-41ff-9e3c-384cd2846c42,Fresh Shirt,858.99,24,1

In [45]:
# add column out_of_stock
df_product_m["out_of_stock"] = df_product_m["stock"] == 0
df_product_m["out_of_stock"].sum()

np.int64(19)

In [55]:
df_product_m[df_product_m["price_category"] == 1].stock.mean()

np.float64(19.639024390243904)

In [47]:
agg_df = df_product_m.groupby(["price_category"])[["price", "stock"]].agg(
    [
        "mean",
        "std",
        "min",
        "max",
    ]
)

agg_df

                     price                                  stock             \
                      mean         std     min     max       mean        std
price_category
1               806.360732  117.032630  600.99  996.99  19.639024  11.912114
2               452.990000   88.184745  300.99  596.99  20.363636  12.484100
3               256.779474   28.372356  200.99  299.99  19.280702  11.546110
4               113.716316   50.378027   14.99  195.99  19.778947  12.640848


               min max
price_category
1                0  40
2                0  40
3                0  40
4                0  40

In [58]:
def filter_category_one(df): return df[df.price_category == 1]
def filter_on_stock(df): return df[df.out_of_stock == False]

# executing the filters in a pipe 

# data transformation pipeline

df_category_one_on_stock = (df_product_m
    .pipe(filter_category_one)
    .pipe(filter_on_stock)
    .sort_values("price", ascending=False)
)
df_category_one_on_stock

,id,name,price,stock,price_category,out_of_stock
297,bf98f66e-f9b7-4553-ba47-77c794f594ab,Steel Pizza,996.99,29,1,False
180,2c26d2f4-8096-4afc-88e6-60c53204e498,Cotton Car,995.99,30,1,False
351,f0d12500-52ec-4fe2-9149-caff194e7a67,Shirt,994.99,2,1,False
396,453d1556-5c88-47ab-899f-976befc8f396,Rustic Chair,994.99,4,1,False
174,058b837c-c1f1-4799-a754-c2f793ceecfb,Ball,991.99,9,1,False
...,...,...,...,...,...,...
325,69517a46-da7f-4216-b03f-6f681ea49703,Handmade Cotton Tuna,615.99,2,1,False
293,41f36da9-82db-4dfc-9f2d-896d46b48684,Fish,613.99,4,1,False
40,32385cbf-95d0-45d4-8229-4025eaf27ec6,Shirt,609.99,33,1,False
404,bb738a38-5aef-431d-b3ec-c0e5ef086c7b,Concrete Chair,601.99,35,1,False
323,6b1f7cf1-955e-413c-9bf5-f3ac2b4db84d,Awesome Car,600.99,31,1,False