In [ ]:
#%pip install pandas # for tables
#%pip install faker # synthetic data
#%pip install faker_commerce # synthetic data for commerce
#%pip install matplotlib # for plotting
#%pip install openpyxl # Excel

In [3]:
from faker import Faker
import random # random numbers
import pandas as pd
import faker_commerce

In [5]:
fake = Faker("de_DE")
fake.add_provider(faker_commerce.Provider)

# fake Users

rows = []
n_users = 10000

for _ in range(n_users): # repeat something n_users-times without running index variable 
    first_name = fake.first_name()
    last_name = fake.last_name()
    user_id = fake.unique.uuid4()
    user = {
        "id": user_id,
        "name": first_name + " " + last_name 
    }
    rows.append(user)

df = pd.DataFrame(rows)
df

                                        id                        name
0     418978c8-4f06-486a-bf31-383944f64a28                   Holm Gute
1     623a275e-2f5c-4362-8fd2-06d2a525975b                  Daria Ring
2     4b9f1e61-f74a-4a9d-9bce-358961f16252                Othmar Beyer
3     db22216a-2045-43f2-86b6-eb7b780a0310                 Fredi Stahr
4     b1b64b7c-1dc9-4fbe-b89a-314eaf7f034d              Florian Dowerg
...                                    ...                         ...
9995  d3fde213-cf74-42f6-87f1-e81b23b291d7             Jeanette Berger
9996  ad3705ed-71ea-4879-936b-7d85653e8a5e                  Ingo Klapp
9997  90011c06-f070-47a3-bc5c-09ad4cf11c45         Sönke Ruppersberger
9998  b042d27a-afb7-4451-9e02-0b4ed30780bb                Erdal Weimer
9999  627195ef-ef90-42f4-be31-7f26285bc4d4  Friedrich-Wilhelm Kitzmann

[10000 rows x 2 columns]